@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
	box-sizing: border-box;
}

body {
margin: 0;
font-family: 'Open Sans', sans-serif;
text-align: center;
}

container {
	max-width: 1200px;
	margin: 0 auto;
}

.row:before, 
.row:after { 
	content: ""; 
	display: table; 
}
.row:after { 
	clear: both; 
}

[class*="col-"] {
	float: left;
	width: 100%;
	padding: 12px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*HERO-1*/
.hero {
	background-image: url(../img/hero1.jpg);
	background-size: cover;
	background-position: center;
	min-height: 950px;
	width: 100%;
	height: 100vh;
	position: relative;
	margin-bottom: 110px;
	
}
.hero img:last child {
	height: 820px;
	width: auto;
	fit-object: cover;
}
.logo-take {
	position: relative;
	min-height: 58px;
	width: 100px;
	top: 50px;
	left: 60px;
}
.slogan {
	max-width: 470px;
	text-align: left;
	position: relative;
	top: 300px;
	left: 60px;
}
.h1-white{
	color: #ffffff;
	font-size: 60px;
	font-weight: 300;
	margin-bottom: 25px;
}
.p-white {
	color: #ffffff;
	font-size: 13px;
}
.iphone {
	position: absolute;
	top: 180px;
	right: 50px;
}

/*WHITE*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}
.white {
	min-height: 350px;
	margin: 80 auto;
}
.text-left {
	text-align: left;
}
.white p {
	font-size: 14px;
	color: #959595;
}
.h2-white {
	text-align: left;
	color: #222626;
	font-size: 35px;
	margin-left: 10px;
	font-weight: 300;
}
/*GALLERY*/

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.slider-cover {
	width: 100%;
	height: 40vw;
	overflow: hidden;
}

.slider {
	overflow-x: scroll;
}

.gallery-item {
    width: 280px;
    height: 202px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: auto;
    padding-bottom: 20px;
}

.gallery-item .h2-gallery {
	margin-top: 0;
}

.gallery {
	margin-bottom: 20px;
	margin-left: calc(50vw - 600px);
    width: 100vw;
}

.gallery [class*="col-"] {
	position: relative;
	padding: 0;
}

.h2-gallery {
	text-align: left;
	color: #fff;
	font-size: 35px;
	margin-left: 10px;
	font-weight: 300;
}

.gallery img {
	float:left;
	margin: 0;
	height: 20vw;
	display: block;
	object-fit: cover;
}
.gallery .col-3, 
.gallery .col-6 {
	padding: 0 40px;
	position: relative;
	color: #fff;
	overflow: hidden;
	height: 20vw;
	text-align: left;
}
.gallery .col1 {
	background-color: #f5989d;
	transition: all ease .5s;
}
.gallery .col1:hover {
	background-color: #d898f5;
}
.gallery .col2 {
	background-color: #615f7d;
}
.gallery .col3 {
	background-image: url(../img/gallery1.jpg);
	background-size: cover;
}
.gallery .col4 {
	background-color: #bd8cbf;
}
.gallery .col5 {
	background-image: url(../img/gallery2.jpg);
	background-size: cover;
}
.gallery .col6 {
	background-color: #82ca9c;
}
.gallery .col7 {
	background-image: url(../img/gallery3.jpg);
	background-size: cover;
}
.gallery-a {
	text-align: left;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 800;
	position: absolute;
    left: 0;
    bottom: 0;
}
.gallery .fa {
	margin-left: 30px;
}

/*WHITE2*/
.white {
	margin-bottom: 100px;
}
.white2 p{
	font-size: 14px;
	color: #959595;
}
small {
	color: #67676d;
	font-size: 13px;
}

/*HERO2*/
.hero2 {
	min-height: 870px;
	background-image: url(../img/hero2.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	position: relative;
	margin-top: 100px;
}
.slogan2 {
	max-width: 508px;
	color: #fff;
	text-align: left;
	position: relative;
	top: 450px;
	left: 115px;
}
.slogan2 h1 {
	font-size: 40px;
	font-weight: 300;
}
.hero2-a {
	text-align: left;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	margin-left: 10px;
	position: relative;
	top: 460px;
	right: 500px;
}
.hero2 .fa {
	position: relative;
	top: 460px;
	right: 500px;
	font-size: 14px;
	color: #fff;
}

/*GREEN*/
.green {
	min-height: 535px;
	background-color: #82ca9c;
	padding-top: 125px;
	padding-bottom: 125px;
}
.green p, h2, h5{
	color: #ffffff;
}
.green h2 {
	font-size: 35px;
	margin-left: 85px;
	font-weight: 300;
}

/*SHOP*/
.shop {
	background-color: #e1e1e1
	min-height: 500px;
	padding-top: 115px;
	padding-bottom: 115px;
}
.border-left {
	padding: 20px 30px;
	position: relative;
}
.gray-btn {
	max-width: 78px;
	height: 24px;
	background-color: #c1c1c1;;
	text-align: center;
	padding: 8px 20px;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	border-radius: 3px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
}
.purple-btn {
	background-color: #bd8cbf;
	max-width: 152px;
	height: 24px;
	text-align: center;
	padding: 8px 20px;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	border-radius: 3px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
}
.green-btn {
	background-color: #82ca9c;
	max-width: 152px;
	height: 47px;
	text-align: center;
	padding: 15px 45px;
	color: #fff;
	font-size: 13px;
	line-height: 47px;
	border-radius: 3px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
}
.shop .social-media {
	font-size: 25px;
	color: #c1c1c1;;
	margin-top: 20px;
	margin-right: 490px;
	margin-bottom: 150px;
	height: 30px;
	width: 70px;
}
.border-right {
	background-color: #fff;
	padding: 20px 30px;
	box-shadow: 1px 0px 80px 3px rgba(71,69,71,1);
	position: relative;
}
